<div class="container">
    <div class="row" style="margin-left: 271px;">
        <div class="col-6">
            <div class="card mt-3">
                <div class="card-header">
                    <h3 class="text-center">Login</h3>
                </div>
                <div class="card-body">
                    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

                        <div class="form-group">
                            <label>Email</label>
                            <input [class.is-invalid]="loginForm.get('email').invalid && loginForm.get('email').touched"
                                formControlName="email" class="form-control" type="email">
                            <div *ngIf="loginForm.get('email').invalid && loginForm.get('email').touched">
                                <small *ngIf="!!loginForm.get('email').errors?.required" class="text-danger">Email is
                                    required</small>
                            </div>
                        </div>


                        <div class="form-group">
                            <label>Password</label>
                            <input
                                [class.is-invalid]="loginForm.get('password').invalid && loginForm.get('password').touched"
                                formControlName="password" class="form-control" type="password">
                            <div *ngIf="loginForm.get('password').invalid && loginForm.get('password').touched">
                                <small *ngIf="!!loginForm.get('password').errors?.required" class="text-danger">Password
                                    is
                                    required</small>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-6">
                                <button [disabled]="loginForm.invalid"
                                    class="btn btn-primary btn-block ">Submit</button>

                            </div>
                            <div class="col-sm-6 text-right">
                                <button class="btn btn-primary btn-block" (click)='onClick()'>Registration</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>